In [1]:
def add(x,y):
    return x+y
a=10
b=20
operation=add
print(operation(a,b))

30

In [3]:
#global variable accessing
var1="hi"
def abc():
    global var2
    var2="goodmorning"
    print("in the function var1 is -",var1)
abc()
print("outside function is var2-",var2)
print("var1 is -",var1)

in the function var1 is - hi
outside function is var2- goodmorning
var1 is - hi

In [5]:
#modifying global variable
var1="hi"
def abc():
    global var1
    var1="good morning"
    print("in the function var1 is -",var1)
abc()
print("outside the function is var1-",var1)
var1="very good"
print("outside the function after modify -",var1)

in the function var1 is - good morning
outside the function is var1- good morning
outside the function after modify - very good

In [31]:
#program  demo access of var in inner & outer function
def outer_fun():
    var=11
    def inner_fun():
        var=22
        print("inner variable",var)
    inner_fun()
    print("outside variable",var)
outer_fun()

inner variable 22
outside variable 11

In [32]:
#writing a function and return its cubation format
def cube(x):
    return(x*x*x)
num=10
result=cube(num) #cube(10) #cube(1000)
print("cube of",num,"=",result)

cube of 10 = 1000

In [33]:
#writing a fuction to understand a mismatch parameters
def fun(i):
    print("orange",i)
j=10
fun(j)

orange 10

In [34]:
def fun(i):
    print("orange",i)
j=10
fun(j+5*5)

orange 35

In [45]:
#program to demo key arguments
def dispaly(str,int_x,float_y):
    print("the string is ",str)
    print("the integer is ",int_x)
    print("the float is ",float_y)
display(float_y = 5678.9998,str="hi",int_x=1234)

In [48]:
#program to demo key arguments  
def dispaly(str,int_x,float_y):
    print("the string is ",str)
    print("the integer is ",int_x)
    print("the float is ",float_y)
display(float_y = 5678.9998,str="hi",int_x=1234)

TypeError: display() got an unexpected keyword argument 'float_y'

In [46]:
def display(name,age,salary):
    print("the Name is ",name)
    print("the Age is ",age)
    print("the salary is ",salary)
a="ram"
b=21
c=5000000.22
display(salary=c,name=a,age=b)
#display(salary=500000.22,name="ram",age=21)

the Name is  ram
the Age is  21
the salary is  5000000.22

In [49]:
addition=lambda x,y,z:x+y+z
print("sum=",addition(10,20,30))
'''
1.lambda fun have no names
2. it can take n number of attributes
3.it can only return 1 value
4.lambda fun cannot access global access
5.can't access var other than their parametes list
6.can't contain multi parameters
7.doesn't have explict return statements

sum= 60

In [54]:
#program to find smaller numbers  by lambda
def small(a,b):
    if(a<b):
        return a
    else:
        return b
add=lambda x,y:x+y
diff=lambda x,y:x-y
print("smaller of two no:",small(add(-3,-2),diff(-1,2)))

smaller of two no: -5

In [56]:
def increment(y):
        return (lambda x:x+1)(y)
a=100    
print("a=",a)
b=increment(a)
print(b)

a= 100
101

In [58]:
#program to pass a lambda fun as a function arg
def fun(f,n):
    print(f(n))
twice=lambda x:x*2
triple=lambda x:x*3
fun(twice,4)
fun(triple,3)

8
9

In [59]:
add=lambda x,y:x+y
m_and_add=lambda x,y,z:x*add(y,z)
print(m_and_add(3,4,5))

27

In [60]:
x=lambda :sum(range(1,11))
print(x())

55

In [61]:
#swap functions
def swapi(x,y):
    x,y=y,x
    print("after swaping")
    print("x=",x)
    print("y=",y)
a=10 
b=20
print("before swaping")
print("a=",a)
print("b=",b)
swapi(a,b)

before swaping
a= 10
b= 20
after swaping
x= 20
y= 10

In [72]:
''' write a program to return the full name of a person where 1st variable passed is first name,2nd variable passed is last name
'''
fn="sathwik reddy"
ln=" bheemreddy"
def name(fn,ln):
    name=fn+ln
    return name
name(fn,ln)

'sathwik reddy bheemreddy'

In [70]:
def name(fn,ln):
    s=' '
    n=fn+s+ln
    return n
print(name("sathwik","bheemreddy"))

sathwik bheemreddy

In [73]:
def eo(a):
    if a%2==0:
        return 1
    else:
        return -1
a=5
temp=eo(5)
if temp==1:
    print('even')
else:
    print("odd")

odd

In [75]:
#program to find the exp(x,y) using recurssion function
def expo(x,y):
    if y==0:
        return 1
    else:
        return(x*expo(x.y-1))
n=int(input())
m=int (input())
print("result=",expo(n,m))

3
4

NameError: name 'y' is not defined

In [76]:
#recurssion of fibonacci series
num=int(input("Enter a number="))
def fibbo(num):
    if (num<2):
        return 1
    else:
        return (fibbo(num-1)+fibbo(num-2))
for i in range(num):
    print("fibbo(",i,")=",fibbo(i))

Enter a number=10
fibbo( 0 )= 1
fibbo( 1 )= 1
fibbo( 2 )= 2
fibbo( 3 )= 3
fibbo( 4 )= 5
fibbo( 5 )= 8
fibbo( 6 )= 13
fibbo( 7 )= 21
fibbo( 8 )= 34
fibbo( 9 )= 55

In [78]:
#towers of hanoi using recursion
def TowerOfHanoi(n , source, destination, auxiliary):
    if n==1:
        print ("Move disk 1 from source",source,"to destination",destination)
        return
    TowerOfHanoi(n-1, source, auxiliary, destination)
    print ("Move disk",n,"from source",source,"to destination",destination)
    TowerOfHanoi(n-1, auxiliary, destination, source)
         

n = 4
TowerOfHanoi(n,'A','B','C')
# A, C, B are the name of rods

Move disk 1 from source A to destination C
Move disk 2 from source A to destination B
Move disk 1 from source C to destination B
Move disk 3 from source A to destination C
Move disk 1 from source B to destination A
Move disk 2 from source B to destination C
Move disk 1 from source A to destination C
Move disk 4 from source A to destination B
Move disk 1 from source C to destination B
Move disk 2 from source C to destination A
Move disk 1 from source B to destination A
Move disk 3 from source C to destination B
Move disk 1 from source A to destination C
Move disk 2 from source A to destination B
Move disk 1 from source C to destination B

In [80]:
#check if two strings match where
#one string contains widcard characters
def solve(a,b):
    n,m=len(a),len(b)
    if n==0 and m==0:
        return True
    if n>1 and a[0]=='*'and m==0:
        return False
    if(n>1 and a[0]=="?")or(n!=0 and m!=0 and a[0]==b[0]):
        return solve(a[1:],b[1:])
    if n!=0 and a[0] == '*':
        return solve(a[1:],b) or solve(a.b[1:])
    return false
x=str(input("enter the string with char"))
y=str(input("enter the string for match"))
print("with wild characters:",x)
print("without wild characters:",y)
print(solve(x,y))

enter the string with charram*charan
enter the string for matchram
with wild characters: ram*charan
without wild characters: ram
False