In [4]:
a=int(input())
b=int(input())
c=int(input())
if(a>b and a>c):
    print(a," is greater")
elif(b>a and b>c):
    print(b," is greater ")
else:
    print(c," is greater ")

2
7
3
7  is greater

In [6]:
x=input()
a=int(x[0])
b=int(x[1])
c=int(x[2])
if(a>b and a>c):
    print(a," is greater")
elif(b>a and b>c):
    print(b," is greater ")
else:
    print(c," is greater ")

234
4  is greater

In [7]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [14]:
x=0
while x<5:
    print(x)
    x+=2

0
2
4

In [26]:
x=int(input())
for i in range(x):
    for j in range(i):
        print(j+1,end=" ")
    print("\n")

5


1

1 2

1 2 3

1 2 3 4

In [28]:
n=int(input())
fac=1
for i in range(1,n+1):
    fac*=i
print(fac)

6
720

In [31]:
#prime number
n=int(input())
c=0
for i in range(1,n+1):
    if(n%i==0):
        c=c+1
if(c==2):
    print(n,"is a prime")
else:
    print(n,"not a prime")

7
7 is a prime

In [36]:
#to calculate the average of the elements in a list
n=int(input())
arr=[int(i) for i in input().split()][:n]
print(sum(arr))
print(sum(arr)/n)

4
1 2 3 4
10
2.5

In [41]:
#to remove  from a list of tuple
li=["red","green","white","black","pink","yellow"]
li.remove(li[0])
li.remove(li[3])
li.remove(li[3])
print(li)

['green', 'white', 'black']

In [43]:
#program to remove a n empty tuple(s) from a list
l=[(5,6),(2),(),tuple(),(1,2,3)]
l.remove(tuple())
l.remove(())
print(l)

[(5, 6), 2, ()]

In [50]:
#product in tuple
pd=1
t=(1,2,3,4,5,6,7,8)
for i in t:
    pd=pd*i
print(pd)

40320

In [ ]:
#counting repeated characters in a string
#reverse a string if its length is a multiple of 4
#to seperate even,odd and zeros from a list
#split a given dictionary of lists into list of dictionaries