x=10
if x>0:
      print("positive")
else:
     print("negative")

In [7]:
x=10
if x>0:
    print("positive")
else:
    print("negative")

positive

In [9]:
#program to find txt present in an i/o sentence
txt = "Telangana is a state"
if "is" in txt:
    print("present")
else:
    print("not present")

present

In [14]:
#string access
str='INDIA'
print(str[1])
print(str[-3])

N
D

In [12]:
#program to seperate a character from txt
a="MISSISSIPPI"
print(a.split("S"))

['MI', '', 'I', '', 'IPPI']

In [15]:
#[] ; slicing
a='netherlands'
print(a[1:4])

eth

In [16]:
#string multiple
abc=""""
netrherlands
australia
greece"""
print(abc)

"
netrherlands
australia
greece

In [18]:
abc1="hi"
abc2="hello"
abc3="hi"
print(abc1+abc2)
print(abc1==abc3)

hihello
True

In [20]:
for i in range(100):
    print("Iam sorry\n")

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

Iam sorry

In [21]:
#sets
set1={1,2,3}
set2={2.0,(1,2,30,"abc")}
print(set1)
print(set2)

{1, 2, 3}
{2.0, (1, 2, 30, 'abc')}

In [29]:
#modifying a set
a={1,3}
print(a)
a.add(2)
print(a)
a.update([2,3,4])
print(a)
a.update([4,5],{1,6,7})
print(a)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}

In [33]:
a=set("abcdef")
print(a)
print(a.pop())
print(a)
print(a.pop())
print(a)
print(a.pop())
print(a)

{'b', 'd', 'c', 'a', 'e', 'f'}
b
{'d', 'c', 'a', 'e', 'f'}
d
{'c', 'a', 'e', 'f'}
c
{'a', 'e', 'f'}

In [ ]:

      total_candies = 10
no_of_candies = int(input())
if no_of_candies in range(1, 6):
	print('No. of Candies Sold:',no_of_candies)
	print('No. of Candies Left:',total_candies-no_of_candies)
else:
	print("Invalid Input")
	print('No. of Candies Left:',total_candies)

In [ ]:
#looping statements
#while loop
i=0
while(i<=10):
    print(i)
    i+=1

In [ ]:
i=0
while(i<=10):
    print(i,end="\t")
    i+=1

In [55]:
#program to add the elements between a range of(m,n): m=3,n=9
m=int(input())
n=int(input())
sum=0
while(m<=n):
    sum=sum+m
    m=m+1
print(sum)

3
9
42

In [63]:
#program to find sum of digits in a number
m=int(input("enter 3 digit number"))
sum=0
rem=0
while(m>0):
    rem=m%10
    sum=sum+rem
    m=m//10
print(sum)

enter 3 digit number1234
10

In [102]:
#program to caluculate first n numbers and their average
n=int(input("enter the value of n="))
avg=0.0
sum=0
for i in range(10):
    sum=sum+i
avg=sum/i
print("avg=",avg)
print("sum=",sum)

enter the value of n=10
avg= 5.0
sum= 45

In [83]:
#nivens number
m=int(input("enter  digit number"))
num=m
sum=0
rem=0
while(m>0):
    rem=m%10
    sum=sum+rem
    m=m//10

if(num%sum==0):
    print("Nivens number")
else:
    print("not a nivens number")

enter  digit number21
Nivens number

In [87]:
#reverse of number
m=int(input("enter a digit number"))
sum=0

while(m>0):
    sum=m%10
    print(sum,end="\t")
    m=m//10

enter a digit number123
3	2	1

In [89]:
n=(input("enter a number="))
num="\t".join(n[::-1])
print(num)

enter a number=123
3	2	1

In [117]:
#program to display a mul table of a given user input
n=int(input("enter a number="))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

enter a number=7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [ ]:
else:
    if num>0:

In [107]:
#leap year
for i in range(1900,2101):
    if i%4==0:
        print(i,end=" ")

1900 1904 1908 1912 1916 1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016 2020 2024 2028 2032 2036 2040 2044 2048 2052 2056 2060 2064 2068 2072 2076 2080 2084 2088 2092 2096 2100

In [108]:
n=2101
for i in range(1900,n,4):
    print(i)

1900
1904
1908
1912
1916
1920
1924
1928
1932
1936
1940
1944
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996
2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096
2100

In [112]:
#find the sum of 1+1/2....1/n
n=int(input("enter a term="))
sum=0.0
for i in range(1,n+1):
    a=1.0/i
    sum=sum+a
print(sum)

enter a term=8
2.7178571428571425

In [115]:
#find the sum of 1+1/2**2+....+1/n**n
n=int(input("enter a term="))
sum=0.0
for i in range(1,n+1):
    a=(1.0/i**2)
    sum=sum+a
print(sum)

enter a term=7
1.511797052154195

In [118]:
# $$$$hi$$$$
str="hi"
print(str.center(10,"$"))

$$$$hi$$$$

In [119]:
#same counting
str="hello"
print(str.center(10,"&"))

&&hello&&&

In [126]:
str="he"
substr="hehellhehell"
print(substr.count(str,0,len(substr)))

4

In [127]:
#finding index position of the word
str="he is my cousin"
print(str.find("my",0,len(substr)))

6

In [130]:
# syntax for left justification
# ljust(width[,fillchar])
str="hi"
print(str.ljust(20,'^'))

hi^^^^^^^^^^^^^^^^^^

In [131]:
str="hi"
print(str.rjust(20,'^'))

^^^^^^^^^^^^^^^^^^hi

In [133]:
#syntax for zfill(width)
str="6"
print(str.zfill(14))

00000000000006

In [136]:
#asky values
print(ord("y"))

121

In [137]:
str="python"
print(max(str))

y

In [140]:
l="ram where is sita"
print(l.title())

Ram Where Is Sita

In [142]:
l="ram where is sita"
print(l.capitalize())

Ram where is sita

In [143]:
l="sita is in my heart"
print(l.swapcase())

SITA IS IN MY HEART

In [145]:
#assinging index values
rs="The Pormetheus Has A Ship"
print(list(enumerate(rs)))

[(0, 'T'), (1, 'h'), (2, 'e'), (3, ' '), (4, 'P'), (5, 'o'), (6, 'r'), (7, 'm'), (8, 'e'), (9, 't'), (10, 'h'), (11, 'e'), (12, 'u'), (13, 's'), (14, ' '), (15, 'H'), (16, 'a'), (17, 's'), (18, ' '), (19, 'A'), (20, ' '), (21, 'S'), (22, 'h'), (23, 'i'), (24, 'p')]

In [ ]:
str="India has won"
for i in str:
    print(i,end=" ")

In [153]:
# caseser cipher
str="india"
index=0
while index <len(str):
    letter=str[index]
    print(chr(ord(letter)+1),end=' ')
    index=index+1

j o e j b

In [154]:
#Abecedarian series

In [173]:
#n series=>0,0,7,6,14,12,21,18...n terms (at odd position print even numbers and viceversa)for i in range(1,n,7):
n=int(input("enter a number="))
m=0
s=0
li=[0,0]
for i in range(1,n):
    m=m+7
    li.append(m)
    s=s+6
    li.append(s)
print(li)
pos=int(input("Enter the value="))
print(li[pos])

enter a number=10
[0, 0, 7, 6, 14, 12, 21, 18, 28, 24, 35, 30, 42, 36, 49, 42, 56, 48, 63, 54]
Enter the value=13
36

In [ ]:
n=int(input())
list=[]
for i in range(0,n+1):
    a=2**i
    list.append(a)
    b=3**i
    list.append(b)
print(list)
num=int(input("enter position"))
print(list[num])

4
[1, 1, 2, 3, 4, 9, 8, 27, 16, 81]